body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}
header {
  text-align: center;
  background-color: #f8f8f8;
  padding: 2em 1em;
}
#container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 675px) {
  #container {
    flex-direction: column;
  }
  #nav-list {
    flex-direction: column;
  }
  #nav-list li {
    margin-bottom: 1em;
  }
}
/*=================
Typography
=================*/
h1 {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #143774;
  font-size: 2rem;
  margin: 0;
}
#subtitle {
  font-weight: 700;
  color: #1792d2;
  font-size: 0.75rem;
}
/*=================
Navigation
=================*/
#nav-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

#nav-list li {
  margin-left: 1em;
}
.nav-link {
  text-decoration: none;
  color: #707070;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.25em 0;
}
.nav-link:hover,
.nav-link:focus {
  color: #1792d2;
}
.current-page {
  border-bottom: 0.2em solid #707070;
}
.current-page:hover,
.current-page:focus {
  color: #707070;
}
